*
{
    box-sizing: border-box;
    
}

.first,
.second,
.third,
.fourth,
.fifth
{
    display: flex;
    flex-wrap: wrap;
    
}

.first .colored
{
    flex: 1 0 50%;
}
.second .colored
{
    flex: 1 0 50%;
}
.third .colored
{  
    
    flex-basis: 100%;
    flex-grow: 1;
}

.fourth .colored
{
    flex-basis: 100%;
    flex-grow: 1;
}

.fourth .colored:last-child
{
    flex-grow: 2;
    /* flex-basis: 50%; */
}

@media (min-width: 768px)
 {
    .fourth .colored
    {
        flex-basis: 50%;
        
    }
    .fifth .colored
    {
        flex-basis: 50%;
        
    }
    .fifth .colored:last-child
    {
    flex-basis: 100%;
    }
}
@media (min-width: 960px) 
    {
        .third .colored
        {  
            
            flex-basis: 30%;
            flex-grow: 1;
        } 
        .fourth .colored:nth-child(odd)
        {
        flex-basis: 35%;
        flex-grow: 2
        }
        .fourth .colored:nth-child(even)
        {
            flex-basis: 30%;   
        }
    
    }
@media (min-width: 1200px) {
        .third .colored
        {
            flex: 1 0 50%;
        }
    
        .fifth .colored
        {
            flex-wrap: wrap;
            flex: 0 0 33%;
    
            justify-content: center;
            
            
        }
        .fifth .colored:last-child
        {
           
            flex-basis: 33%;
        }
        .fifth
        {
            justify-content: center;
            
        }
@media (min-width: 1800px) 
{
      .first .colored
      {
          flex-basis: 25%;
      } 
      .third .colored
      {
        flex:  0 25%;
        
      }
      .third 
      {
          flex-basis: 75%;
          justify-content: center;
          

      }   
      .fourth .colored:nth-child(1)
      {
          flex-wrap: nowrap;
         flex-basis:  25%;
    }
    .fourth .colored:nth-child(2)
      {
          flex-wrap: nowrap;
         flex-basis:  25%;
    }
    

    .fourth .colored:last-child
        {
           
            flex-basis: 50%;
        }
     
    .fifth 
       {
           flex-wrap: nowrap;
           flex-basis: 100%;
       }
       .fifth .colored
       {
           flex-wrap: nowrap;
           flex: 0 100%;
       }
       .fifth .colored:nth-last-child(1)
       {
           flex-wrap: nowrap;
           flex: 0 100%;
       }




}






